<%= form_tag multi_events_path, method: :post do |f| %>
  <%= render "shared/errors_messages", object: @event %>
  <input type="hidden" id="allow-overlap" name="allow_overlap" value="false">

  <div class="form-action">
    <%= link_to go_back_link, title: t("events.buttons.go_back"),
      class: "btn btn-go-back" do %>
      <i class="go-back"></i>
    <% end %>

    <button class="btn btn-save" type="submit" %>>
      <%= t("events.buttons.save") %>
    </button>

    <%= link_to t("events.buttons.discard"), root_path, class: "btn btn-discard" %>
  </div>

  <div class="main-event-form">
    <div class="form-group">
      <%= f.label :title, t("events.labels.title") %>
      <%= f.text_field :title, placeholder: t("events.placeholder.new_event"),
        autofocus: true, required: true, class: "form-control" %>
    </div>
    <div class="form-group datetime" id="dateTime">
      <%= f.hidden_field :start_date %>
      <%= f.hidden_field :finish_date %>
      <%= text_field_tag :start_date,
        datetime_format(@event.start_date, "short_date"), required: true,
        class: "date start form-control fix-width-date date-time",
        placeholder: datetime_format(Time.zone.now, "short_date"),
        disabled: true %>
      <%= text_field_tag :start_time,
        datetime_format(@event.start_date, "short_time"), required: true,
        class: "time start form-control fix-width-time date-time",
        placeholder: datetime_format(Time.zone.now, "short_time"),
        disabled: true %>
      <span>&nbsp;&nbsp;&nbsp;<%= t "events.labels.to" %>&nbsp;&nbsp;&nbsp;</span>
      <%= text_field_tag :finish_time,
        datetime_format(@event.finish_date, "short_time"), required: true,
        class: "time finish form-control fix-width-time date-time",
        placeholder: datetime_format(Time.zone.now + 30.minutes, "short_time"),
        disabled: true %>
      <%= text_field_tag :finish_date,
        datetime_format(@event.finish_date, "short_date"), required: true,
        class: "date finish form-control fix-width-date date-time",
        placeholder: datetime_format(Time.zone.now, "short_date"),
        disabled: true %>
    </div>

    <div class="tile-content form-group">
      <div class="form-attendee">
        <div class="form-group">
          <label for="load-attendee"><%= t "calendar.attendee" %></label>
          <%= text_field_tag :term, params["term"],
            class: "attendee-email form-control", placeholder: "Enter attendee email"  %>
          <button type="button" class="add-attendee btn button blue">Add Attendee</button>
        </div>

        <div class="form-group" id="list-attendee">
          <% @event.attendees.each_with_index do |attendee, key| %>
            <div class="group_attendee" id="group_attendee_<%= key %>">
              <input type="hidden" name="event[attendees_attributes][<%= key %>][email]" value="<%= attendee.email %>"></input>
              <input type="hidden" name="event[attendees_attributes][<%= key %>][_destroy]" value=false></input>
              <input type="hidden" name="event[attendees_attributes][<%= key %>][user_id]" value="<%= attendee.user_id %>"></input>
              <input type="hidden" name="event[attendees_attributes][<%= key %>][id]" value="<%= attendee.id %>"></input>
              <li><%= attendee.email %></li>
              <span class="remove_attendee">
                <i class="fa fa-times" aria-hidden="true"></i>
              </span>
            </div>
          <% end %>
          <div class="group_attendee" style="display: none" id="group_attendee_<%= @event.attendees.count %>">
            <input type="hidden" name="event[attendees_attributes][<%= @event.attendees.count %>][email]" value="email"></input>
            <input type="hidden" name="event[attendees_attributes][<%= @event.attendees.count %>][_destroy]" value=true></input>
            <input type="hidden" name="event[attendees_attributes][<%= @event.attendees.count %>][user_id]" value="-1"></input>
            <li>email</li>
            <span class="remove_attendee">
              <i class="fa fa-times" aria-hidden="true"></i>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group" id="calendar">
      <%= f.label :calendar_id, t("events.labels.calendar") %>
      <%= f.collection_select :calendar_id, @calendars, :id, :name, {},
        selected: @event.calendar_id, class: "form-control", disabled: true %>
    </div>
    <div class="form-group">
      <%= f.label :description, t("events.labels.description") %>
      <%= f.text_area :description, class: "form-control", placeholder: t(".description") %>
    </div>
    <div class="form-group">
      <p><%= f.label :notifications %> </p>
      <div class="notify">
        <%= f.fields_for :notification_events do |ntbuilder| %>
          <p>
            <%= ntbuilder.hidden_field :notification_id %>
            <%= ntbuilder.label :_destroy do %>
              <%= ntbuilder.check_box :_destroy,
                {checked: ntbuilder.object.persisted?}, false, true %>
              <%= ntbuilder.object.notification_type %>
            <% end %>
          </p>
        <% end %>
      </div>
    </div>
  </div>
  <%= f.hidden_field :exception_type, class: "exception_type" %>
  <div id="dialog_overlap_confirm" class="hidden" title="<%= t 'events.overlap.do_you_want_create' %>"></div>
  <div id="dialog_overlap" class="hidden" title="<%= t 'events.overlap.fulloverlap' %>"></div>
  <div class="overlay-bg"></div>
  <%= render "events/dialog_repeat_form", f: f %>

  <%= confirm_popup_repeat_events t("events.repeat_dialog.edit") %>
<% end %>

<%= javascript_include_tag "event" %>
