<div>
  <p><%= t ".dear" %> <%= @user.name %>,</p>
  <p>
    <%= t ".invited" %> <%= @organization.name %>.
  </p>
  <p>
    <%= t ".click" %>
    <%= link_to t(".here"), t(".url", org_id: @organization.slug, id: @user.slug) %>
    <%= t ".to_accept" %><br/>
    <%= t ".not_accept" %>
    <%= link_to t(".here"), t(".url_cancel", org_id: @organization.slug, id: @user.slug),
      method: :delete %>
  <p>
  <p>
    <%= t ".thanks" %>,
    <br/><strong><%= t ".team" %></strong>
  </p>
</div>
