<div class="form-action">
  <%= link_to go_back_link, title: t(".go_back"),
    class: "btn btn-go-back" do %>
    <i class="go-back"></i>
  <% end %>
  <%= f.submit t(".save"), class: "btn btn-save" if f.present? %>
  <%= link_to t(".discard"), root_path, class: "btn btn-discard" %>

  <% if f.present? && f.object.persisted? %>
    <%= link_to t(".delete"), f.object, method: :delete,
      data: {confirm: "You sure?"}, class: "btn btn-discard text-danger" %>
  <% end %>

  <% if partials.present? %>
    <% partials.each do |_partial| %>
      <%= render _partial %>
    <% end %>
  <% end %>
</div>
