<%= render partial: "shared/control_action", locals: {f: nil, partials: []} %>

<div id="maincell">
  <div class="contain">
    <div class="ev-title">
      <%= label_tag "title", @event_presenter.title, class: "title" %>
    </div>
    <div class="lb-dt">
      <div class="ev-dt">
        <label><%= t ".time" %></label>
        <span id="time-event-popup" class="title-content">
          <%= @event_presenter.range_time_title %>
        </span>
      </div>
    </div>
    <div class="ev-cal">
      <div class="ev-contain">
        <div class="lb-contain">
          <div class="lbcal">
            <ul>
              <li><%= label_tag :lbcal, t("events.labels.calendar") %></li>
              <li><%= @event_presenter.calendar_name %></li>
            </ul>
            <ul>
              <li><%= label_tag :lbowner, t("events.labels.owner_name") %></li>
              <li><%= @event_presenter.owner_name %></li>
            </ul>
            <ul class="end-list">
              <li><%= label_tag :lbdesc, t("events.labels.description") %></li>
              <li><%= @event_presenter.description %></li>
            </ul>
          </div>
        </div>
        <div class="ev-att">
          <div class="contain">
            <div class="lb-attendees">
              <%= label_tag :lattendee, t("events.labels.attendees") %>
            </div>
            <ul>
              <% @event_presenter.attendees.each do |attendee| %>
                <li class="l-att-<%= attendee.id %>">
                  <div id="att-<%= attendee.id %>" ev-id="<%= @event.id %>" user-id="<%= current_user.id if user_signed_in? %>">
                  </div>
                  <div><%= attendee.email %></div>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
