<div class="btn-group" id="source-popup">
  <a class="btn btn-default dropdown-toggle create" data-toggle="dropdown" aria-haspopup="true">
    <div class="btn-show-popup">
      <%= image_tag @calendar_presenter.logo_url, size: Settings.size_logo_sidebar %>
      <span class="truncate">
        <%= @calendar_presenter.object.name %>
      </span>
      <span class="caret"></span>
      <span class="sr-only"></span>
    </div>
  </a>
  <div id="current-user-id-popup"></div>
  <ul class="dropdown-menu" id="event-popup">
    <li>
      <div class="qab-container gcal-popup">
        <div class="heading-label">
          <%= t "calendar.switch_dashboard" %>
          <i class="fa fa-times-circle close-popup-organization" aria-hidden="true"></i>
        </div>
        <ul id="list-organization">
          <li>
            <%= link_to root_path do %>
              <span>
                <% if @organization.nil? %>
                  <i class="fa fa-check" aria-hidden="true"></i>
                <% end %>
              </span>
              <%= image_tag current_user.avatar_url,
                size: Settings.size_logo_sidebar %>
              <span><%= current_user.name %></span>
            <% end %>
          </li>
          <% current_user.organizations.each do |organization| %>
            <li>
              <%= link_to organization_calendars_path(organization) do %>
                <span>
                  <% if @organization == organization %>
                    <i class="fa fa-check" aria-hidden="true"></i>
                  <% end %>
                </span>
                <%= image_tag organization.logo_url,
                  size: Settings.size_logo_sidebar %>
                <span><%= organization.name %></span>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </li>
    <div class="top-prong">
      <div class="prong-dk"></div>
      <div class="prong-lt"></div>
    </div>
  </ul>
</div>
