<%= render partial: "shared/control_action",
  locals: {f: nil, partials: ["/organizations/btn_invite"]} %>

<div class="tbl-object">
  <%= image_tag @organization.logo_url, class: "avatar tbl-item" %>
  <div class="tbl-item tbl-item-primary infor-organization">
    <h1 class="tbl-item-org-name">
      <%= @organization.name %>
    </h1>
    <%= link_to edit_organization_path(@organization), class:"tbl-item-btn-edit-organization" do %>
      <i class="fa fa-pencil" aria-hidden="true"></i>
    <% end %>
  </div>
</div>

<div class="tabs">
  <ul class="nav nav-tabs">
    <li class="active">
      <a href="#calendars" data-toggle="tab">Calendars</a>
    </li>
    <li>
      <a href="#members" data-toggle="tab">Members</a>
    </li>
    <li>
      <%= link_to "Activities", "#activities",
        data: {
          tab: "activities",
          toggle: "tab",
          url: organization_path + "/activities"
        } %>
    </li>
  </ul>
</div>
<div class="tab-content">
  <div class="tab-pane active" id="calendars">
    <%= render "organizations/calendars" %>
  </div>
  <div class="tab-pane fade" id="members">
    <div class="member">
      <%= render @member_paginate %>
    </div>
    <div class="paginator">
      <%= paginate @member_paginate %>
    </div>
  </div>
  <div class="tab-pane fade" id="activities"></div>
</div>

<%= render "modal_search_user" %>
