<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %></title>
    <%= stylesheet_link_tag "application", media: "all" %>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"
      rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
    <%= javascript_include_tag "application" %>
    <%= favicon_link_tag "favicon.ico" %>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <% if controller_name == "calendars" && action_name == "index" ||
      controller_name == "organizations" && action_name == "show" %>
      <style type="text/css">
        <% @colors.each do |color| %>
          .color-<%= color.id %> {
            background-color: <%= color.color_hex %> !important;
          }
          .ccp-rb-color.color-<%= color.id %> {
            border: 1px solid <%= color.color_hex %>;
          }
          .ccp-rb-color.color-<%= color.id %>.uncheck {
            background-color: #eee !important;
          }
        <% end %>
      </style>
    <% end %>
  </head>
  <body>
    <%= render "layouts/header" %>
    <div class="main-content clearfix">
      <%= render "shared/flash" %>

      <% if !user_signed_in? && controller_name == "home" %>
        <%= render "shared/slider" %>
      <% end %>

      <section class="<%= controller_class %>">
        <%= yield %>
        <%= render "shared/devise_modal" unless user_signed_in? %>
      </section>
    </div>

    <% if user_signed_in? %>
      <%= javascript_include_tag "calendar" %>
    <% else %>
      <%= javascript_include_tag "calendar_not_sign_in" %>
    <% end %>

    <script type="text/javascript">
      timezone = "<%= @calendar_presenter.try :tzinfo_name %>";
      calendarViewContext = "<%= @calendar_presenter.try :default_view %>";
      org_id = "<%= params[:organization_id] %>"
      $calendar = $('#full-calendar');
      $calContent = $('#calcontent');
    </script>
  </body>
</html>
